// Copyright 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
// SPDX-License-Identifier: Apache-2.0

go 1.26.4

use (
	.
	./api
	./fractioning-manager/metricsd
	./operator
	./pkg
	./test/e2e
)
